extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Red Sea - English', isArabic: true}
block content_block
	include blocks/2d_level_hero_section
	include blocks/timeline_previews
	include blocks/latest
	include blocks/subscribe
	include blocks/video_popup
