extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Red Sea - English', isArabic: true}
block content_block
	include blocks/consturctions_hero_section
	include blocks/constructions
	include blocks/other_constructions
	include blocks/latest
	include blocks/subscribe
