section.section.hero_slider_mod#section_1.hero_inner_page_mod.sectionBgTrigger.heroSection(data-num='1' data-id-color="1")
	+hero_slider({
		slider_class: 'heroSlider',
		slides: data.sustainabilityPage.hero,
		title_bottom: true,
	})
	+section_decor({
		direction: 'elipse'
	})