section.section.hero_slider_mod.hero_inner_page_mod#section_1.heroSection.sectionBgTrigger(data-num='1' data-id-color="4")
	+hero_slider({
		slider_class: 'heroSlider',
		slides: data.constructionPage.hero_slider,
		slider_content_mod: 'width_v1_mod'
	})
	+section_decor({
		direction: 'elipse'
	})