section.section.v1_mod.sectionBgTrigger(data-id-color="4")
	.section_in_wrap.fadeEl
		+keep_scroll()
		.section_in.constructions_mod.v4_mod
			.construct_list.constructList
				each item in data.constructionPage.constructList
					+construct(item)