section.section.no_offset_bottom.sectionBgTrigger(data-id-color="1")
	.section_in.v2_mod
		.section_head.decor_mod.center_level_mod.offset_mod.fadeEl
			h2.section_title= data.latest.title
		.latest_list_wrap.fadeEl&attributes(dirObj)
			+slider_controls({
				mod: 'latest_mod'
			})
			.latest_list.latestSlider
				+loop_while(3)
					+latest({
						img: 'i/latest_1.jpg',
						text: 'The red sea development company launches sustainability stewards initiative'
					})
					+latest({
						img: 'i/latest_2.jpg',
						text: 'The red sea development company announces medical services contract award'
					})
					+latest({
						img: 'i/latest_3.jpg',
						text: 'The red sea development company announces ‘Ecotecture” Design Competition'
					})
					