section.section.offset_top_mod#section_5.sectionBgTrigger(data-num='5' data-id-color="5")
	.section_in.v2_mod
		.section_head.decor_mod.center_level_mod.offset_mod.fadeEl
			h2.section_title= data.partners.title
			.section_descr= data.partners.descr
		+partner_list([{
			img: 'i/partners/1.png',
			text: data.partners.expand
		},
		{
			img: 'i/partners/2.png',
			text: data.partners.expand
		},
			{
			img: 'i/partners/3.png',
			text: data.partners.expand
		},
			{
			img: 'i/partners/4.png',
			text: data.partners.expand
		},
			{
			img: 'i/partners/5.png',
			text: data.partners.expand
		},
			{
			img: 'i/partners/6.png',
			text: data.partners.expand
		},
			{
			img: 'i/partners/7.png',
			text: data.partners.expand
		},

		])

