.popup.preview_mod.previewPopup
	.popup_close.previewClose
		+icon('close', 'current_mod size_mod')
	.popup_in.preview_mod
		.popup_preview
			+section_bg({
				img: 'i/bg.jpg'
			})
			.section_head.limit_v2_mod.decor_mod
				h3.section_title.white_mod.offset_mod #[span.section_title_in from vision] to reality
			a.btn_circle(href="#") Details