section
	.section_in
		+sheybarah_slider([{
			img:'',
			text:'Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, aspernatur optio.'

		},{
			img:'',
			text:'Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, aspernatur optio.'

		},{
			img:'',
			text:'Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, aspernatur optio.'
		}
		])
