.popup.feed_mod.socialPopup
	.popup_close.feed_mod.feedClose
		+icon('close', 'current_mod size_mod')
	.popup_in.slider_mod
		+slider_controls({
			mod: 'feed_mod'
		})
		.feed_slider
			//- +loop_while(5)
			//- 	.feed_slider_item
			//- 		.feed_slider_img_wrap
			//- 			img.feed_slider_img(src="i/preview_1.jpg", alt="image")
			//- 		.feed_slider_content
			//- 			.feed_slider_head
			//- 				a.feed_slider_link(href="#")
			//- 					.feed_slider_account red.sea.account
			//- 					.feed_slider_icon
			//- 						+icon('instagram', 'size_mod')
			//- 			.feed_slider_text Felling confident and blue-tiful! #norahalhumaidSS20 #norah_alhumaid #fashion #designer #couture #hautecouture #hautecouturedress #riyadh #saudi #saudiarabia #fashionshow #parisfashionweek #pariscoutureweek #coutureweek #springsummer2020 #fw2020 #springsummer #staytuned #paris #france #elegance #unique #passion #creativity #classy #stunning #blue #bowtie
