section.section.sectionBgTrigger.fadeHeroEl(data-id-color="1")
	.section_in_wrap
		+keep_scroll()
		.section_in.v3_mod.offset_v1_mod
			.story_video_container
				.story_video_wrap.storyVideoBlock
					.story_video_block
						video.video_block
							source(src="i/feed/feed_5.mp4" type="video/mp4")
			.section_head
					h3.section_title= data.sheybarahPage.article.title
			.section_w_descr
				.section_descr
					each item in data.sheybarahPage.article.text
						p= item
		.story_w_slider.fadeEl&attributes(dirObj)
			+slider_controls({
				mod: 'v3_mod story_mod',
				icon_mod: 'arrow_v1_mod'
			})
			+story_slider({
				slides: data.sheybarahPage.storySlider
			})
