section.section.bg_overlay_mod.sectionBgTrigger(data-id-color="2")
	.section_in.v2_mod
		.section_cols.fadeEl
			.section_col
				.section_head.decor_mod.limit_mod
					h2.section_title.offset_mod #[span.title_in= data.subscribe.pretitle]
						= data.subscribe.title
					.section_descr= data.subscribe.descr
			.section_col
				form.form_wrap#subscribeForm
					.form_controller.half_mod
						+form_element({
							type: 'text',
							class_array: default_field,
							title: '',
							name: 'name',
							id: 'subscribe_name',
							placeholder: 'Enter your first name',
							required: true
						})
					.form_controller.half_mod
						+form_element({
							type: 'text',
							class_array: default_field,
							title: '',
							name: 'last_name',
							id: 'subscribe_last_name',
							placeholder: 'Enter your last name',
							required: true
						})
					.form_controller.no_offset_mod
						+form_element({
							type: 'email',
							class_array: default_field,
							title: '',
							name: 'email',
							id: 'subscribe_mail',
							placeholder: 'Enter your email address',
							add_class: 'radius_mod',
							required: true
						})
					.form_controller
						.form_btn_wrap
							.btn_v2.form_mod.sendForm submit
							.form_success success
					.form_controller.checkbox_mod
						+form_element({
							type: 'checkbox',
							class_array: default_checkbox,
							title: 'I have read and understood the Red Sea Development Company',
							name: 'subscribe_check',
							checked: false,
							required: true
						})
							a.checkbox_link(href="#") Privacy Policy