section.section.vision_mod.visionSection.sectionBgTrigger(data-id-color="2")
	.section_in
		.phase_row
			.phase_col.text_mod.fadeEl
				.section_head.decor_mod.limit_mod
					h2.section_title.offset_mod #[span.title_in= data.vision.pretitle]
						= data.vision.title
					.section_w_descr
						//- +hamburger_btn({
						//- 	mod: 'btnDescrControl position_mod',
						//- 	descr_id: '0',
						//- })
						.section_descr.v1_mod.sectionDescr.height_v1_mod.btnDescrControl(data-descr-id="0")
							each item in data.vision.text
								p!= item
			.phase_col.info_mod.fadeEl
				-
					year_data = [
						{
							title: '2020'
						},
						{
							title: '2030'
						}
					]
				ul.phase_nav.offset_mod
					each item, index in year_data
						li.phase_nav_item
							a.phase_nav_link(class=(index === 0 ? 'active_tab' : '') href="#" data-tab=index)=item.title
				-
					phase_info = [
						{
							title: '5',
							sub_title: 'Islands Developed'
						},
						{
							title: '2',
							sub_title: 'Inland Sites'
						},
						{
							title: '16',
							sub_title: 'Hotels'
						},
						{
							title: '3100',
							sub_title: 'Rooms'
						}
					]
				.phase_block_w.active_tab(data-tab=0)
					+phase_block({
						title: 'Phase One',
						info: phase_info
					})
				.phase_block_w(data-tab=1)
					+phase_block({
						title: 'Phase Two',
						info: phase_info
					})
