.construct_list {
	position: relative;
	
	@include bp($point_2, min) {
		height: 78.2rem;
	}
}

.construct_item {
	// margin-right: -5rem;
	
	background-color: $white;
	overflow: hidden;

	&:last-of-type {
		margin-bottom: 0;
	}

	@include bp($point_2, min) {
		@include flex_block(row, wrap, flex-start);

		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;
		padding-bottom: 11rem;

		&:not(:first-child) {
			opacity: 0;
		}
	}

	@media (min-width: $point_4) and (max-width: $point_3) {
		padding-bottom: 6rem;
	}

	@include bp($point_4 - 1) {
		padding-bottom: 3rem;
	}

}

.construct_col {

	@include bp($point_2, min) {
		width: 50%;
		padding-right: 8.4rem;

		[dir='rtl'] & {
			padding-right: 0;
			padding-left: 8.4rem;
		}
	}

	&.descr_mod {
		position: relative;

		@include bp($point_2, min) {
			padding: 5.4rem 10rem 6.4rem 0;

			[dir='rtl'] & {
				padding-right: 0;
				padding-left: 10rem;
			}

			&:before {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 10rem;
	
				height: 1px;
				background-color: #dfdfdf;
				border-radius: 2px;
			
				content: '';

				[dir='rtl'] & {
					left: 10rem;
					right: 0;
				}
			}

		}

		@include bp($point_3) {
			padding-left: $gl_indent;
			padding-right: $gl_indent;
		}

	}

	@include bp($point_3) {
		padding-bottom: 3rem;

		&:last-of-type {
			padding-bottom: 0;
		}

	}

}

.construct_img_wrap {
	position: relative;

	overflow: hidden;

	&.v1_mod {
		background-color: $black;

		@include bp($point_2, min) {
			max-width: 57rem;
			width: 100%;
			height: 71.2rem;
		}

		@media (min-width: $point_4) and (max-width: $point_3) {
			max-width: 49rem;
			height: 61.2rem;
		}

		@include bp($point_4, min) {
			border-top-right-radius: .4rem;
			border-bottom-right-radius: .4rem;
		}

	}

	&.v2_mod {
		margin-left: auto;

		background-color: $accent_color;

		[dir='rtl'] & {
			margin-left: 0;
			margin-right: auto;
		}

		@include bp($point_2, min) {
			width: 38rem;
			height: 38rem;
		}

		@media (min-width: $point_4) and (max-width: $point_3) {
			width: 34rem;
			height: 34rem;
		}

		@include bp($point_4, min) {
			margin-top: -31rem;

			border-radius: .4rem;
		}

		@include bp($point_4 - 1) {
			border-bottom-left-radius: .4rem;
			border-bottom-right-radius: .4rem;
		}

	}

	@include bp($point_4 - 1) {
		position: relative;

		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
	}

}

.construct_img {
	display: block;
	width: 100%;
	height: 100%;	
	object-fit: cover;
	object-position: center;

	transform: scale(1);
	transition: all 1s;
	@include d3();

	.construct_img_wrap:hover &,
	.construct_img_wrap:focus & {
		transform: scale(1.2);
	}

	@include bp($point_4 - 1) {
		position: absolute;
		top: 0;
		left: 0;
	}

}

.construct_date {
	margin-bottom: 1.4rem;

	font-size: 2.1rem;
	font-family: $playfair;
	font-weight: 700;
	color: $turquoise;

	[dir='rtl'] & {
		font-family: $tajawal;
	}
}

.construct_location {

	font-size: 1.4rem;

	@include bp($point_2, min) {
		margin-bottom: 5.6rem;
	}

	@include bp($point_3) {
		margin-bottom: 2.6rem;
	}

}

.construct_text {
	line-height: 1.7;

	p {

		
		@include bp($point_2, min) {
			margin-bottom: 3.6rem;
		}

		@include bp($point_3) {
			margin-bottom: 2.6rem;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	@include bp($point_4, min) {
		font-size: 1.8rem;
	}

	@include bp($point_4 - 1) {
		font-size: 1.6rem;
	}
	

}