.popup.videoPopup
	button.popup_close.btnCloseVideoPopup
		+icon('close', 'current_mod size_mod')
	video.popup_video.popupVideo(playsinline='' controls muted='' loop='' autoplay='')
		source(src='#' type='video/mp4')