.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-right {
	font-size:(22/10)*1rem;
	width:(12.59/22)*1em;
}
.icon-audio {
	font-size:(30/10)*1rem;
	width:(31/30)*1em;
}
.icon-brands {
	font-size:(38.85/10)*1rem;
	width:(38.93/38.85)*1em;
}
.icon-check {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-close {
	font-size:(35.6/10)*1rem;
	width:(35.6/35.6)*1em;
}
.icon-duty-free {
	font-size:(38.85/10)*1rem;
	width:(29.78/38.85)*1em;
}
.icon-empty {
	font-size:(45.44/10)*1rem;
	width:(45.44/45.44)*1em;
}
.icon-facebook {
	font-size:(19.81/10)*1rem;
	width:(10.61/19.81)*1em;
}
.icon-instagram {
	font-size:(19.81/10)*1rem;
	width:(19.81/19.81)*1em;
}
.icon-left {
	font-size:(22/10)*1rem;
	width:(12.59/22)*1em;
}
.icon-linkedin {
	font-size:(19.88/10)*1rem;
	width:(19.82/19.88)*1em;
}
.icon-luggage {
	font-size:(38.85/10)*1rem;
	width:(31.08/38.85)*1em;
}
.icon-play {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-plyr-airplay {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-plyr-captions-off {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-plyr-captions-on {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-plyr-download {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-plyr-enter-fullscreen {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-plyr-exit-fullscreen {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-plyr-fast-forward {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-plyr-logo-vimeo {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-plyr-logo-youtube {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-plyr-muted {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-plyr-pause {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-plyr-pip {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-plyr-play {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-plyr-restart {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-plyr-rewind {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-plyr-settings {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-plyr-volume {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-right {
	font-size:(22/10)*1rem;
	width:(12.59/22)*1em;
}
.icon-twitter {
	font-size:(19.81/10)*1rem;
	width:(24.4/19.81)*1em;
}
.icon-wifi {
	font-size:(33.87/10)*1rem;
	width:(30/33.87)*1em;
}
.icon-youtube {
	font-size:(19.81/10)*1rem;
	width:(28.61/19.81)*1em;
}
