section.section.no_offset_bottom.sectionBgTrigger(data-id-color="1")
	.section_in
		.section_head.center_level_mod.offset_mod.decor_mod.fadeEl
			h3.section_title= data.sheybarahPage.videoList.title
			.section_descr= data.sheybarahPage.videoList.descr
		+groundb_slider({
				slider_mod: 'page_mod',
				slider_item_mod: 'sliderVideoPopupBtn',
				slides: data.sheybarahPage.videoList.slides
		})
