section.section.hero_slider_mod#section_1.heroSection.sectionBgTrigger(data-num='1' data-id-color="2")
	+hero_slider({
		slider_class: 'heroSlider home_page_mod',
		slides: data.home_slider,
		slider_content_mod: 'width_v1_mod',
		isHeroPage: true
	})
	+section_decor({})