//---------------------------------------------map
.map {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
}

.map_img {
	display: block;
	width: 100%;
	height: 100%;
	
	object-fit: cover;
}

.gmnoprint {
	margin-top: 10rem !important; 
}

.map_facility_wrap  {
	display: inline-flex;
	pointer-events: none;

	[dir='rtl'] & {
		margin-right: auto;
	}

	@include bp($point_3) {
		width: 100%;
	}
}

.map_facility {
	position: relative;

	max-width: 51.4rem;
	width: 100%;

	border-radius: .6rem;
	border-bottom: .4rem solid $accent_color;
	overflow: hidden;

	opacity: 0;
	pointer-events: none;
	transition: opacity .3s ease;

	&.active_mod {
		opacity: 1;
		pointer-events: initial;
	}

	@include bp($point_3) {
		opacity: 0 !important;

		&.active_mod {
			opacity: 1 !important;
		}
	}
}

.map_facility_close {
	position: absolute;
	top: 1.4rem;
	right: 1.2rem;
	z-index: 2;

	width: 3.6rem;
	height: 3.6rem;

	color: $white;

	border-radius: 50%;
	overflow: hidden;
	// border: 2px solid currentColor;
	cursor: pointer;
	transition: color .3s ease;

	&:hover,
	&:focus {
		text-decoration: none;

		color: $accent_color;
	}

}

.map_facility_w_img {
	position: relative;

	background-color: $accent_color;

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	
		width: 100%;
		height: 100%;

		// background-image: linear-gradient(105deg, rgba(75, 125, 162, 0.61) 0%, #002947 100%);
		background-color: rgba($black, .3);
		content: '';

		// display: none;
	}
	
	@include bp($point_4, min) {
		height: 21.4rem;
	}

	
	@include bp($point_4 - 1) {
		padding-bottom: 56.25%;
		height: 0;
	}

}

.map_facility_img {
	display: block;
	width: 100%;
	height: 100%;
	
	object-fit: cover;

	@include bp($point_4 - 1) {
		position: absolute;
		top: 0;
		left: 0;
	}

}

.map_facility_content {
	background-color: $white_2;
	
	@include bp($point_4, min) {
		padding: 1.8rem 4rem 3.4rem;
	}
	
	@include bp($point_4 - 1) {
		padding: 1.8rem 2rem;
	}
	

}

.map_facility_title {
	margin-bottom: 1.8rem;

	font-size: 3.2rem;
	font-family: $playfair;
	color: $accent_color_2;

	[dir='rtl'] & {
		font-family: $tajawal;
	}

	@include bp($point_4 - 1) {
		font-size: 2.6rem;
	}
}

.map_facility_descr {
	margin-bottom: 3.8rem;

	font-size: 1.6rem;
	color: $accent_color_2;
	line-height: 1.5;
}

.map_facility_w_list {
	
	@include bp($point_4, min) {
		margin-bottom: 3.4rem;
	}
	
	@include bp($point_4 - 1) {
		margin-bottom: 2.8rem;
	}
	
}

.map_facility_list {
	margin-bottom: -2rem;

	@include bp($point_4, min) {
		margin-right: -1rem;

		@include flex_block(row, wrap, flex-start, center, center);
	}

}

.map_facility_list_item {
	padding-bottom: 2rem;
	
	@include bp($point_4, min) {
		width: 50%;
		padding-right: 2rem;
	}
}

.map_facility_block {
	@include flex_block(row, nowrap, flex-start, center, center);
}

.map_facility_block_w_icon {
	width: 3.2rem;
	height: 4rem;
}

.map_facility_block_img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}

.map_facility_block_w_title {
	flex: 1 1 5rem;
	padding-left: 1.4rem;

	[dir='rtl'] & {
		padding-left: 0;
		padding-right: 1.4rem;
	}
}

.map_facility_block_title {
	color: $accent_color_2;
	font-size: 1.8rem;
	font-weight: 400;
}
//---------------------------------------------map###

.map_pointer_wrap {
	position: relative;

	width: 3.2rem;
	height: 5rem;
	// margin-top: -2.8rem;
	// margin-left: 0;
}

.map_pointer_title {
	position: absolute;
	bottom: calc(100% + .4rem);
	left: 50%;

	width: 6rem;
	margin-left: -3rem;

	font-size: 1.2rem;
	font-weight: 700;
	color: $black;
	text-align: center;

	text-shadow: 0 0 2px $white;
}

.map_pointer {
	display: block;
	width: 100%;
	height: 100%;
	filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.16));

	transform: scale(1);
	transform-origin: 50% 100%;
	transition: all .3s;

	cursor: pointer;

	.map_pointer_wrap.active_mod & {
		transform: scale(1.5);
	}
}

.pointer_bg {
	.map_pointer_wrap.active_mod & {
		fill: $accent_color;
	}
}

.map_line {
	position: absolute;
	top: 28%;
	right: 100%;
	height: 1px;
	width: 50vw;

	background-color: $accent_color_2;

	// opacity: 0;
	transform-origin: 100% 0;
	transform: scaleX(0);
	transition: all 1s;

	// .map_pointer_wrap.active_mod & {
	// 	// opacity: 1;
	// 	transform: scaleX(1)
	// }
}