<svg class="section_decor_svg" preserveAspectRatio="xMidYMin slice" id="afabe5c6-3f40-4025-97ac-75291d26e754" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1922 78.7">
  <path class="section_decor_svg_in" id="b033dd8e-2845-4cef-9762-39c514a1a88d" data-name="Контур 828" class="a2db1979-0127-4db7-ac0c-083cd14bface" d="M0,78.7V0S480,49.5,960.53,49.93,1922,0,1922,0V78.7"/>
</svg>
