<svg preserveAspectRatio="xMidYMin slice" class="section_decor_svg 2" id="ec756250-727b-4034-8840-89a77437ed96" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1922 78.7">
  <path class="section_decor_svg_in b41ba791-9822-4f3b-876d-bd0236c55155" id="baa226fa-9621-4eb1-95c0-af33ca3227eb" data-name="Контур 828" d="M1922,0V78.7S1442,29.2,961.47,28.77,0,78.7,0,78.7V0"/>
</svg>
