<svg id="ae697ce2-9434-42ce-b45e-f6f1eb4b6800" preserveAspectRatio="xMidYMin slice" class="section_decor_svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1922 72.6">
  <path id="bdb81031-0ca1-471f-b1d8-03880757fb7c" data-name="Контур 828" class="a214ad04-2173-406f-8bba-2ec2874bcd4c" d="M0,57.8S481.16,0,961.66,0,1922,59.2,1922,59.2V72.6H0Z"/>
</svg>
