include templates/_global_vars
include templates/_global_mixins
include templates/_project_mixins
include templates/_project_vars
- array = '';
block vars
- dir = array.isArabic ? 'rtl' : ''
- dirObj =  array.isArabic ? {'dir':'rtl'} : {}
- data = array.isArabic ? contentArabic : contentEn
doctype
html(lang="en")
	head
		+head(array)
		style.
			.loader {
				position: fixed;
				top: 0;
				left: 0;
				z-index: 150;

				display: flex;
				width: 100%;
				height: 100%;

				font-size: 1rem;

				pointer-events: none;

				background-color: #297f90;
				will-change: transform;
				transform: translateZ(0);
			}

			.loader.hidden_mod {
				opacity: 0;
			}

			.loader_in {
				margin: auto;
			}

			.loader_block {
				position: relative;

				width: 48em;
				height: 67.2em;
			}

			@media screen and (max-width: 1023px) {
				.loader_block {
					font-size: calc(.2vh + .4rem);
				}
			}

			.loader_block_in {
				position: absolute;
				left: 0;
				top: 0;

				width: 100%;
				height: 100%;

				overflow: hidden;
			}

			.loader_w_logo {
				position: absolute;
				top: 50%;
				left: 50%;

				width: 48em;
				height: 22.8em;

				margin-left: -24em;
				margin-top: -11.4em;

				opacity: 0;
			}

			.loader_img {
				display: block;
				width: 100%;
				height: 100%;
				
				object-fit: cover;
			}

			.loader_block_decor {
				position: absolute;
				top: 100%;
				left: 0;
				z-index: 5;

				width: 100%;
				height: 100%;

				background-color: #216977;
				will-change: transform;
				transform: translateZ(0);
			}

			.loader_block_w_img {
				position: absolute;
				top: 100%;
				left: 0;

				width: 100%;
				height: 100%;
				will-change: transform;
				transform: translateZ(0);
			}

			.loader_block_img {
				position: absolute;
				left: 0;
				top: 0;

				display: block;
				width: 100%;
				height: 100%;
				
				object-fit: cover;
				opacity: 0;
			}
			.loader_block_content {
				position: absolute;
				left: 0;
				top: 0;

				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;

				opacity: 0;
				text-align: center;
			}
	body(class= array.body_class)&attributes(dirObj)
		+loader
		+header
		.cursor
			+hamburger_btn({
				mod: 'active_mod cursorHamburger'
			})
		.wrapper(class= array.layout_mod)
			.scroller_proxy_w_div
				.scroller_proxy_div
			.base(class= array.layout_mod)
				block content_block
				+footer
		+scripts
		block local_popup
		include blocks/social_popup
		include blocks/video_popup
		include blocks/slider_video_popup
		include blocks/popup_preview
		include blocks/popup_video
