extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Red Sea - English', isArabic: true}
block content_block
	include blocks/sheybarah_hero_section
	include blocks/story
	include blocks/other_designs
	include blocks/groundb_slider
	include blocks/latest
	include blocks/subscribe
	
