//---------------------------------------------fonts
$font_path: "../fonts/";
// need connect
$tajawal: 'Tajawal', sans-serif;
$font_1: 'Open Sans', sans-serif;
$playfair : 'Playfair Display', serif;
$font_size_base: 1.6rem;
//---------------------------------------------fonts###

//---------------------------------------------colors
$white: #fff;
$white_2: #f6f6f6;

$black: #000;

$accent_color: #ae9142;
$accent_color_2: #575756;
$accent_color_3: #faf9f5;

$turquoise: #297f90;

$dark_blue: #07253c;

$color_text_base: $accent_color_2;
$color_link_base:#4aa3df;
$body_bg: $white;
//---------------------------------------------colors###

//---------------------------------------------z-index
$z-index: (
	popap : 9999,
	header : 100,
	footer : 100
);
//---------------------------------------------z-index###

//---------------------------------------------layout
$height_footer: 10rem;
$height_header_mobile: 7rem;
$height_header: 18rem;
$page_width: 167.2rem;
// $page_width: 171.2rem;

//---------------------------------------------layout###

//---------------------------------------------global values
$gl_indent: 2.4rem;
$gl_radius:.5rem;
//---------------------------------------------global values###

//---------------------------------------------media points
$point_0: 1280px;
$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023px;
$point_4: 768px;
$point_5: 640px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;
//---------------------------------------------media points

//---------------------------------------------forms
$input_height: 7.2rem;
$input_offset: 0 3.2rem;
$input_font_size: 2.1rem;
$input_border_color: #ccc;
$input_border_color_active: $black;
$input_placeholder_color: #8196a5;
$input_text_color: $black;
$input_radius: .4rem;
//---------------------------------------------forms###