- n = 0

-
	contentEn = {
		header: {
			menu: [
				{title: 'Home', url: '#section_1', active: true},
				{title: 'Design', url: '#section_2',active: false},
				{title: 'Construction', url: '#section_3', active: false},
				{title: 'Contracts', url: '#section_5', active: false},
				{title: 'Sustainability', url: '#section_4', active: false},
				{title: 'عربي', url: 'index_2.html', active: false},
			]
		},

		home_slider: [
			{
				video_src: 'i/video_bg.mp4',
				img_alt: '',
				title: 'Breaking new ground',
				sub_title: 'Every day'
			},
			{
				img_src: 'i/hero_home_sliders/home_hero_slider_img_1.jpg',
				img_alt: '',
				title: 'Breaking new ground',
				sub_title: 'Every day'
			},
			{
				img_src: 'i/designs_slides/designs_slider_img_1.jpg',
				img_alt: '',
				title: 'Breaking new ground',
				sub_title: 'Every day'
			},
		],

		second_level_slider: [
			{
				video_src: 'i/video_bg.mp4',
				img_alt: '',
				title: 'Constructions',
				sub_title: 'Explore the'
			},
			{
				img_src: 'i/hero_home_sliders/home_hero_slider_img_1.jpg',
				img_alt: '',
				title: 'Constructions',
				sub_title: 'Explore the'
			},
			{
				img_src: 'i/designs_slides/designs_slider_img_1.jpg',
				img_alt: '',
				title: 'Constructions',
				sub_title: 'Explore the'
			},
		],

		vision: {
			pretitle: 'From vision',
			title: 'to Reality',
			text: [
				'The Red Sea Development Company (TRSDC) was established to drive the development of <a href="https://www.theredsea.sa/en/project">The Red Sea Project</a>, a luxury, regenerative tourism destination that will set new standards in <a href="https://www.theredsea.sa/en/smart-and-sustainable">sustainable development</a> and position Saudi Arabia on the global tourism map.',
				'[expanded detail] The project will be developed over 28,000 km2 of pristine lands and waters along Saudi Arabia’s west coast and includes a vast archipelago of more than 90 islands. <a href="https://www.theredsea.sa/en/destination">The destination</a> also features mountain canyons, dormant volcanoes, and ancient cultural and heritage sites. The destination will include hotels, residential properties, leisure, commercial and entertainment amenities, as well as supporting infrastructure that emphasizes renewable energy and water conservation and re-use.',
				'Since our Masterplan was approved in January 2019, we have made huge progress on The Red Sea Project from design, build and contract awards perspectives. Explore all our latest updates on this website.'
			]
		},

		design: {
			title: 'Designs',
			slider: [
				{
					title: 'Airport',
					img_src: 'i/designs_slides/designs_slider_img_1.jpg',
					img_alt: '',
					descr: "At The Red Sea Project we have brought together some of the world's best architects to help us realize our vision for a leading sustainable luxury tourism destination."
				},
				{
					title: 'SHURAYRAH',
					img_src: 'i/designs_slides/designs_slider_img_2.jpg',
					img_alt: '',
					descr: ''
				},
				{
					title: 'SHEYBARAH',
					img_src: 'i/designs_slides/designs_slider_img_2.jpg',
					img_alt: '',
					descr: ''
				},
				{
					title: 'UMMAHAT ALSHAYKH',
					img_src: 'i/designs_slides/designs_slider_img_1.jpg',
					img_alt: '',
					descr: ''
				},
				{
					title: 'SOUTHERN DUNES',
					img_src: 'i/designs_slides/designs_slider_img_2.jpg',
					img_alt: '',
					descr: ''
				},
				{
					title: 'DESERT ROCK',
					img_src: 'i/designs_slides/designs_slider_img_2.jpg',
					img_alt: '',
					descr: ''
				}
			]
		},

		preview: {
			singleItem: {
				descr_id: '1',
				img: 'i/preview_1.jpg',
				subtitle: 'Explore our progress on',
				title: 'construction',
				text: 'We have made huge progress on The Red Sea Project from design, build and contract awards perspectives. Major contracts were awarded in 2019 in our journey to meeting our targeted phase 1 completion date of 2022.',
				img_sm: 'i/preview_sm_1.jpg',
				video: 'bTqVqk7FSmY',
				video_sm: 'bTqVqk7FSmY',
				parallax: true,
				parallaxOffset: -25,
				parallaxSmOffset: 100,
				link: 'Details'
			},
			tabs: [
				{
					descr_id: '2',
					img: 'i/preview_2.jpg',
					subtitle: 'Explore our progress on',
					title: 'SUSTAINABILITY',
					text: 'The Red Sea Project is grounded in sustainability and sustainable tourism in its fullest sense. Tourism, properly harnessed, can and must serve the needs of the environment if it is to be sustainable in the long term.',
					img_sm: 'i/preview_sm_2.jpg',
					parallax: true,
					parallaxOffset: 15,
					parallaxSmOffset: -100,
					link: 'Details'
				},
				{
					descr_id: '3',
					img: 'i/preview_1.jpg',
					subtitle: 'Explore our progress on',
					title: 'construction',
					text: '<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et</p><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et</p>',
					img_sm: 'i/preview_sm_1.jpg',
					link: 'Details'
				}
			]
		},

		partners: {
			title: 'HOSPITALITY PARTNERS',
			descr: 'We are partnering with world class hospitality leaders to operate our hotels.',
			expand: 'Both of us are grounding on sustainability, environment and luxury.'
		},

		socialFeed: {
			title: 'SOCIAL FEED',
			descr: 'Our most recent posts and updates on social channels.',
			socialTitle: 'Follow us'
		},

		latest: {
			title: 'LATEST NEWS'
		},

		subscribe: {
			pretitle: 'subscribe to our',
			title: 'newsletter',
			descr: 'Join our subscribers list to be up to the date with our progress, announcements and monthly newsletter.'
		},

		constructionPage: {
			hero_slider: [
				{
					video_src: 'i/video_bg.mp4',
					img_alt: '',
					title: '<span class="section_title_in">Explore the</span>constructions',
				},
				{
					img_src: 'i/hero_construction_sliders/construction_hero_slider_img_1.jpg',
					img_alt: '',
					title: '<span class="section_title_in">Explore the</span>constructions',
				},
				{
					img_src: 'i/hero_construction_sliders/construction_hero_slider_img_1.jpg',
					img_alt: '',
					title: '<span class="section_title_in">Explore the</span>constructions',
				},
			],
			constructList: [
				{
					video: 'bTqVqk7FSmY',
					video_src: 'i/video_bg.mp4',
					video_preview: 'i/construct_2.jpg',
					date: 'Jun 15Th 2020',
					location: 'KSA, Mastorah beach',
					title: 'Title 1 goes<br>here in this area',
					text: [
						'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam the nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam  erat, sed diam voluptua. at vero eos et.',
						'Dolor sit amet consectetur adipisicing elit. Deleniti hic at assumenda quibusdam officiis architecto aliquam reprehenderit enim voluptates, totam animi usto illo incidunt nemo deserunt reiciendis maiores ex. Deserunt soluta, ad facilis ipsum consectetur aspernatur assumenda numquam ea adipisci architecto magnam, itaque culpa, in debitis nam voluptate repellendus.'
					]
				},
				{
					img: 'i/construct_1.jpg',
					video_src: 'i/video_bg.mp4',
					video_preview: 'i/construct_2.jpg',
					date: 'Jun 15Th 2020',
					location: 'KSA, Mastorah beach',
					title: 'Title 2 goes<br>here in this area',
					text: [
						'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam the nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam  erat, sed diam voluptua. at vero eos et.',
						'Dolor sit amet consectetur adipisicing elit. Deleniti hic at assumenda quibusdam officiis architecto aliquam reprehenderit enim voluptates, totam animi usto illo incidunt nemo deserunt reiciendis maiores ex. Deserunt soluta, ad facilis ipsum consectetur aspernatur assumenda numquam ea adipisci architecto magnam, itaque culpa, in debitis nam voluptate repellendus.'
					]
				},
				{
					img: 'i/construct_1.jpg',
					video_src: 'i/video_bg.mp4',
					video_preview: 'i/construct_2.jpg',
					date: 'Jun 15Th 2020',
					location: 'KSA, Mastorah beach',
					title: 'Title 3 goes<br>here in this area',
					text: [
						'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam the nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam  erat, sed diam voluptua. at vero eos et.',
						'Dolor sit amet consectetur adipisicing elit. Deleniti hic at assumenda quibusdam officiis architecto aliquam reprehenderit enim voluptates, totam animi usto illo incidunt nemo deserunt reiciendis maiores ex. Deserunt soluta, ad facilis ipsum consectetur aspernatur assumenda numquam ea adipisci architecto magnam, itaque culpa, in debitis nam voluptate repellendus.'
					]
				}
			],
			other: {
				pretitle: 'Other',
				title: 'constructions',
				descr: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et',
				list: [
					{
						img: 'i/other_1.jpg',
						title: 'Sheybarah',
						link: 'Details'
					},
					{
						img: 'i/other_2.jpg',
						title: 'Southern Dunes',
						link: 'Details'
					},
					{
						img: 'i/other_3.jpg',
						title: 'Ummahat Alshaykh',
						link: 'Details'
					},
					{
						img: 'i/other_4.jpg',
						title: 'Ummahat Alshaykh',
						link: 'Details'
					},
					{
						img: 'i/other_1.jpg',
						title: 'Sheybarah',
						link: 'Details'
					},
					{
						img: 'i/other_1.jpg',
						title: 'Sheybarah',
						link: 'Details'
					},
					{
						img: 'i/other_1.jpg',
						title: 'Sheybarah',
						link: 'Details'
					}
				]
			}
		},

		sheybarahPage: {
			hero: {
				title: 'Sheybarah',
				descr: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et'
			},
			article: {
				title: 'Story',
				text: [
					'Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis tenetur, non necessitatibus eveniet voluptatem sint numquam, fuga expedita hic a laboriosam placeat rem atque aliquam. Placeat quod earum ad voluptatem!',
					'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sunt provident temporibus illo labore distinctio fugit dignissimos corporis eligendi, laborum sapiente cupiditate vel vero maiores est repudiandae. Doloribus, eum tempore!',
					'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sunt provident temporibus illo labore distinctio fugit dignissimos corporis eligendi, laborum sapiente cupiditate vel vero maiores est repudiandae. Doloribus, eum tempore!'
				]
			},
			storySlider: [
				{
					video: 'bTqVqk7FSmY',
					img_src: 'i/story_slider/story_slider_img_1.jpg',
					text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et'
				},
				{
					img_src: 'i/story_slider/story_slider_img_1.jpg',
					text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et'
				},
				{
					img_src: 'i/story_slider/story_slider_img_1.jpg',
					text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et'
				},
				{
					img_src: 'i/story_slider/story_slider_img_1.jpg',
					text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et'
				},
				{
					img_src: 'i/story_slider/story_slider_img_1.jpg',
					text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et'
				},
				{
					img_src: 'i/story_slider/story_slider_img_1.jpg',
					text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et'
				},
			],
			other: {
				pretitle: 'Other',
				title: 'Designs',
				descr: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et',
				list: [
					{
						img: 'i/other_5.jpg',
						title: 'Env. Sustainability',
						link: 'Details'
					},
					{
						img: 'i/other_6.jpg',
						title: 'Environmental',
						link: 'Details'
					},
					{
						img: 'i/other_7.jpg',
						title: 'Title Goes Here',
						link: 'Details'
					},
					{
						img: 'i/other_8.jpg',
						title: 'Env. Sustainability',
						link: 'Details'
					},
					{
						img: 'i/other_1.jpg',
						title: 'Sheybarah',
						link: 'Details'
					},
					{
						img: 'i/other_1.jpg',
						title: 'Sheybarah',
						link: 'Details'
					},
					{
						img: 'i/other_1.jpg',
						title: 'Sheybarah',
						link: 'Details'
					}
				]
			},
			videoList: {
				title: 'Red sea groundbreakers',
				descr: 'Meet some of the fascinating people at the forefront of our development.',
				slides: [
					{
						img:'i/construct_2.jpg',
						text:'Groundbreaking<br> Design - Foster + Partners'
					},
					{
						img:'i/construct_2.jpg',
						text:'Groundbreaking<br> Design - Foster + Partners'
					},
					{
						img:'i/construct_2.jpg',
						text:'Groundbreaking<br> Design - Foster + Partners'
					},
					{
						img:'i/construct_2.jpg',
						text:'Groundbreaking<br> Design - Foster + Partners'
					},
					{
						img:'i/construct_2.jpg',
						text:'Groundbreaking<br> Design - Foster + Partners'
					},
					{
						img:'i/construct_2.jpg',
						text:'Groundbreaking<br> Design - Foster + Partners'
					},
					{
						img:'i/construct_2.jpg',
						text:'Groundbreaking<br> Design - Foster + Partners'
					},
					{
						img:'i/construct_2.jpg',
						text:'Groundbreaking<br> Design - Foster + Partners'
					},
					{
						img:'i/construct_2.jpg',
						text:'Groundbreaking<br> Design - Foster + Partners'
					},
					{
						img:'i/construct_2.jpg',
						text:'Groundbreaking<br> Design - Foster + Partners'
					},
					{
						img:'i/construct_2.jpg',
						text:'Groundbreaking<br> Design - Foster + Partners'
					}
				]
			}
		},

		sustainabilityPage: {
			hero: [
				{
					video_src: 'i/video_bg.mp4',
					img_alt: '',
					title: '<span class="section_title_in">Environmental</span>SUSTAINABILITY',
				},
				{
					img_src: 'i/hero_home_sliders/home_hero_slider_img_1.jpg',
					img_alt: '',
					title: '<span class="section_title_in">Explore the</span>constructions',
				},
				{
					img_src: 'i/designs_slides/designs_slider_img_1.jpg',
					img_alt: '',
					title: '<span class="section_title_in">Explore the</span>constructions',
				},
			],
			timeline: [
				{
					mod: 'previewTimeline sectionBgTrigger',
					data_id_color: '1',
					img: "i/preview_1.jpg",
					title: 'Title',
					subtitle: 'Subtitle',
					text: 'We have made huge progress on The Red Sea Project from design, build and contract awards perspectives. Major contracts were awarded in 2019 in our journey to meeting our targeted phase 1 completion date of 2022.',
					link: 'View Timeline'
				},
				{
					mod: 'previewTimeline sectionBgTrigger',
					data_id_color: '2',
					img: "i/preview_1.jpg",
					title: 'Title',
					subtitle: 'Subtitle',
					text: 'We have made huge progress on The Red Sea Project from design, build and contract awards perspectives. Major contracts were awarded in 2019 in our journey to meeting our targeted phase 1 completion date of 2022.',
					link: 'View Timeline'
				},
				{
					mod: 'previewTimeline sectionBgTrigger',
					data_id_color: '1',
					img: "i/preview_1.jpg",
					title: 'Title',
					subtitle: 'Subtitle',
					text: 'We have made huge progress on The Red Sea Project from design, build and contract awards perspectives. Major contracts were awarded in 2019 in our journey to meeting our targeted phase 1 completion date of 2022.',
					link: 'View Timeline'
				}
			]
		}
	}



-
	contentArabic = {
		header: {
			menu: [
				{title: 'الاستدامة', url: '#section_1', active: true},
				{title: ' الشركاء', url: '#section_2',active: false},
				{title: ' تطورات المشروع ', url: '#section_3', active: false},
				{title: ' التصاميم', url: '#section_5', active: false},
				{title: 'الرئيسية', url: '#section_4', active: false},
				{title: 'english', url: 'index.html', active: false},
			]
		},

		home_slider: [
			{
				video_src: 'i/video_bg.mp4',
				img_alt: '',
				title: 'رؤيتنا واقع',
				sub_title: 'كل يوم'
			},
			{
				img_src: 'i/hero_home_sliders/home_hero_slider_img_1.jpg',
				img_alt: '',
				title: 'رؤيتنا واقع',
				sub_title: 'كل يوم'
			},
			{
				img_src: 'i/hero_home_sliders/home_hero_slider_img_1.jpg',
				img_alt: '',
				title: 'رؤيتنا واقع',
				sub_title: 'كل يوم'
			},
		],

		vision: {
			pretitle: 'من الرؤية',
			title: 'إلى الواقع',
			text: [
				'تأسست شركة البحر الأحمر للتطوير لتقود عملية تطوير مشروع البحر الأحمر الذي يعتبر وجهة سياحية فاخرة ستعمل على استحداث معايير جديدة للتنمية المستدامة، وتضع المملكة في مكانة مرموقة على خريطة السياحة العالمية',
				'[expanded detail] وسيتم تطوير المشروع على مساحة "28" ألف كيلومتر مربع من الأراضي البكر في الساحل الغربي للمملكة العربية السعودية، ويضم أرخبيلاً يحتوي على أكثر من "90" جزيرة وبحيرة بكر، بالإضافة إلى جبال خلابة، وبراكين خامدة، وصحارى، ومعالم ثقافية وتراثية. ستضم الوجهة فنادق فاخرة، ووحدات سكنية، ومرافق ترفيهية وتجارية، وستعتمد بالكامل على الطاقة المتجددة، كما ستقوم بالمحافظة على موارد المياه.',
				'منذ أن نلنا الموافقة على المخطط العام لـ "مشروع البحر الأحمر" في يناير من عام 2019، أحرزنا تقدماً ملحوظاً من ناحية التصميم، والبناء والعقود الممنوحة. يمكنكم الاطلاع على آخر المستجدات أدناه.'
			]
		},

		design: {
			title: 'التصاميم',
			slider: [
				{
					title: 'المطار',
					img_src: 'i/designs_slides/designs_slider_img_1.jpg',
					img_alt: '',
					descr: ' سيحظى المطار بتصميم مستدام صديق للبيئة يحاكي جمال المناظر الطبيعية المحيطة بموقعه، ويجسد رؤية مشروع البحر الأحمر، وذلك تماشياً مع أهداف التنمية المستدامة التي وضعتها شركة البحر الأحمر للتطوير.'
				},
				{
					title: 'شريرة',
					img_src: 'i/designs_slides/designs_slider_img_2.jpg',
					img_alt: '',
					descr: ''
				},
				{
					title: 'شيبارة',
					img_src: 'i/designs_slides/designs_slider_img_2.jpg',
					img_alt: '',
					descr: ''
				},
				{
					title: 'أمهات الشيخ',
					img_src: 'i/designs_slides/designs_slider_img_1.jpg',
					img_alt: '',
					descr: ''
				},
				{
					title: 'المنتجع الجبلي',
					img_src: 'i/designs_slides/designs_slider_img_2.jpg',
					img_alt: '',
					descr: ''
				},
				{
					title: 'المنتجع الصحراوي',
					img_src: 'i/designs_slides/designs_slider_img_2.jpg',
					img_alt: '',
					descr: ''
				},
				
				{
					title: 'المطار',
					img_src: 'i/designs_slides/designs_slider_img_1.jpg',
					img_alt: '',
					descr: ' سيحظى المطار بتصميم مستدام صديق للبيئة يحاكي جمال المناظر الطبيعية المحيطة بموقعه، ويجسد رؤية مشروع البحر الأحمر، وذلك تماشياً مع أهداف التنمية المستدامة التي وضعتها شركة البحر الأحمر للتطوير.'
				},
				{
					title: 'شريرة',
					img_src: 'i/designs_slides/designs_slider_img_2.jpg',
					img_alt: '',
					descr: ''
				},
				{
					title: 'شيبارة',
					img_src: 'i/designs_slides/designs_slider_img_2.jpg',
					img_alt: '',
					descr: ''
				},
				{
					title: 'أمهات الشيخ',
					img_src: 'i/designs_slides/designs_slider_img_1.jpg',
					img_alt: '',
					descr: ''
				},
				{
					title: 'المنتجع الجبلي',
					img_src: 'i/designs_slides/designs_slider_img_2.jpg',
					img_alt: '',
					descr: ''
				},
				{
					title: 'المنتجع الصحراوي',
					img_src: 'i/designs_slides/designs_slider_img_2.jpg',
					img_alt: '',
					descr: ''
				},
				
			]
		},

		preview: {
			singleItem: {
				descr_id: '1',
				img: 'i/preview_1.jpg',
				subtitle: 'تعرف على المستجدات في',
				title: 'تطوير المشروع',
				text: 'أحرزنا تقدماً ملحوظاً من ناحية التصميم، والبناء والعقود الممنوحة منذ أن نلنا الموافقة على المخطط العام لـ "مشروع البحر الأحمر". لقد تم الانتهاء من بناء مدينة الموظفين العام الماضي، وأيضا تم بناء مشتل مشروع البحر الأحمر. كما تم منح عقود كبيرة خلال رحلتنا لإتمام المرحلة الأولى من المشروع والمحددة بعام 2022.',
				img_sm: 'i/preview_sm_1.jpg',
				parallax: true,
				parallaxOffset: -25,
				parallaxSmOffset: 40,
				link: 'للتفاصيل'
			},
			tabs: [
				{
					descr_id: '2',
					img: 'i/preview_2.jpg',
					subtitle: 'تعرف على المستجدات حول',
					title: 'الاستدامة',
					text: 'منذ البداية وحتى وقتنا الراهن، كانت الاستدامة حجر أساسٍ في مشروع البحر الأحمر بكافة جوانبه. ونؤمن في شركة البحر الأحمر للتطوير، بقدرة السياحة - إذا ما أُحسن استغلالها - على تلبية احتياجات البيئة لتحقيق الاستدامة على المدى الطويل. عبر التعهد بالمحافظة عليها وحماية الكائنات الحية التي تستوطنها، وكذلك تنمية المناطق والمجتمعات المحيطة بالمشروع.',
					img_sm: 'i/preview_sm_2.jpg',
					parallax: true,
					parallaxOffset: 15,
					parallaxSmOffset: 60,
					link: 'للتفاصيل'
				},
				{
					descr_id: '3',
					img: 'i/preview_1.jpg',
					subtitle: 'Explore our progress on',
					title: 'construction',
					text: '<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et</p><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et</p>',
					img_sm: 'i/preview_sm_1.jpg',
					link: 'للتفاصيل'
				}
			]
		},

		partners: {
			title: 'شركاء الضيافة',
			descr: 'اتفقنا مع رواد الضيافة حول العالم لإدارة وتشغيل فنادقنا في الوجهة السياحية',
			expand: 'جميعنا نشترك في الاهتمام حول الاستدامة، والبيئة والفخامة والتميز.'
		},

		socialFeed: {
			title: 'شبكات التواصل الاجتماعي',
			descr: 'أحدث منشوراتنا وأخبارنا على شبكات التواصل الاجتماعي',
			socialTitle: 'تابعنا على'
		},

		latest: {
			title: 'آخر أخبارنا'
		},

		subscribe: {
			pretitle: 'انضم لنا في',
			title: 'القائمة البريدية',
			descr: ' انضم لقائمة المشتركين معنا لتحصل على أحدث مستجدات المشروع، وأهم التطورات وقائمة الاشتراك الشهرية.'
		},

		constructionPage: {
			hero_slider: [
				{
					video_src: 'i/video_bg.mp4',
					img_alt: '',
					title: '<span class="section_title_in">Explore the</span>constructions',
				},
				{
					img_src: 'i/hero_construction_sliders/construction_hero_slider_img_1.jpg',
					img_alt: '',
					title: '<span class="section_title_in">Explore the</span>constructions',
				},
				{
					img_src: 'i/hero_construction_sliders/construction_hero_slider_img_1.jpg',
					img_alt: '',
					title: '<span class="section_title_in">Explore the</span>constructions',
				},
			],
			constructList: [
				{
					mod: 'fadeEl',
					video: 'bTqVqk7FSmY',
					video_src: 'i/video_bg.mp4',
					video_preview: 'i/construct_2.jpg',
					date: 'Jun 15Th 2020',
					location: 'KSA, Mastorah beach',
					title: 'Title goes<br>here in this area',
					text: [
						'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam the nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam  erat, sed diam voluptua. at vero eos et.',
						'Dolor sit amet consectetur adipisicing elit. Deleniti hic at assumenda quibusdam officiis architecto aliquam reprehenderit enim voluptates, totam animi usto illo incidunt nemo deserunt reiciendis maiores ex. Deserunt soluta, ad facilis ipsum consectetur aspernatur assumenda numquam ea adipisci architecto magnam, itaque culpa, in debitis nam voluptate repellendus.'
					]
				},
				{
					mod: 'fadeEl',
					img: 'i/construct_1.jpg',
					video_src: 'i/video_bg.mp4',
					video_preview: 'i/construct_2.jpg',
					date: 'Jun 15Th 2020',
					location: 'KSA, Mastorah beach',
					title: 'Title goes<br>here in this area',
					text: [
						'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam the nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam  erat, sed diam voluptua. at vero eos et.',
						'Dolor sit amet consectetur adipisicing elit. Deleniti hic at assumenda quibusdam officiis architecto aliquam reprehenderit enim voluptates, totam animi usto illo incidunt nemo deserunt reiciendis maiores ex. Deserunt soluta, ad facilis ipsum consectetur aspernatur assumenda numquam ea adipisci architecto magnam, itaque culpa, in debitis nam voluptate repellendus.'
					]
				},
				{
					mod: 'fadeEl',
					img: 'i/construct_1.jpg',
					video_src: 'i/video_bg.mp4',
					video_preview: 'i/construct_2.jpg',
					date: 'Jun 15Th 2020',
					location: 'KSA, Mastorah beach',
					title: 'Title goes<br>here in this area',
					text: [
						'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam the nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam  erat, sed diam voluptua. at vero eos et.',
						'Dolor sit amet consectetur adipisicing elit. Deleniti hic at assumenda quibusdam officiis architecto aliquam reprehenderit enim voluptates, totam animi usto illo incidunt nemo deserunt reiciendis maiores ex. Deserunt soluta, ad facilis ipsum consectetur aspernatur assumenda numquam ea adipisci architecto magnam, itaque culpa, in debitis nam voluptate repellendus.'
					]
				}
			],
			other: {
				pretitle: 'Other',
				title: 'constructions',
				descr: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et',
				list: [
					{
						img: 'i/other_1.jpg',
						title: 'Sheybarah',
						link: 'Details'
					},
					{
						img: 'i/other_2.jpg',
						title: 'Southern Dunes',
						link: 'Details'
					},
					{
						img: 'i/other_3.jpg',
						title: 'Ummahat Alshaykh',
						link: 'Details'
					},
					{
						img: 'i/other_4.jpg',
						title: 'Ummahat Alshaykh',
						link: 'Details'
					},
					{
						img: 'i/other_1.jpg',
						title: 'Sheybarah',
						link: 'Details'
					},
					{
						img: 'i/other_1.jpg',
						title: 'Sheybarah',
						link: 'Details'
					},
					{
						img: 'i/other_1.jpg',
						title: 'Sheybarah',
						link: 'Details'
					}
				]
			}
		},

		sheybarahPage: {
			hero: {
				title: 'Sheybarah',
				descr: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et'
			},
			article: {
				title: 'Story',
				text: [
					'Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis tenetur, non necessitatibus eveniet voluptatem sint numquam, fuga expedita hic a laboriosam placeat rem atque aliquam. Placeat quod earum ad voluptatem!',
					'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sunt provident temporibus illo labore distinctio fugit dignissimos corporis eligendi, laborum sapiente cupiditate vel vero maiores est repudiandae. Doloribus, eum tempore!',
					'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sunt provident temporibus illo labore distinctio fugit dignissimos corporis eligendi, laborum sapiente cupiditate vel vero maiores est repudiandae. Doloribus, eum tempore!'
				]
			},
			storySlider: [
				{
					img_src: 'i/story_slider/story_slider_img_1.jpg',
					text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et'
				},
				{
					img_src: 'i/story_slider/story_slider_img_1.jpg',
					text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et'
				},
				{
					img_src: 'i/story_slider/story_slider_img_1.jpg',
					text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et'
				},
				{
					img_src: 'i/story_slider/story_slider_img_1.jpg',
					text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et'
				},
				{
					img_src: 'i/story_slider/story_slider_img_1.jpg',
					text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et'
				},
				{
					img_src: 'i/story_slider/story_slider_img_1.jpg',
					text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et'
				},
			],
			other: {
				pretitle: 'Other',
				title: 'Designs',
				descr: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et',
				list: [
					{
						img: 'i/other_5.jpg',
						title: 'Env. Sustainability',
						link: 'Details'
					},
					{
						img: 'i/other_6.jpg',
						title: 'Environmental',
						link: 'Details'
					},
					{
						img: 'i/other_7.jpg',
						title: 'Title Goes Here',
						link: 'Details'
					},
					{
						img: 'i/other_8.jpg',
						title: 'Env. Sustainability',
						link: 'Details'
					},
					{
						img: 'i/other_1.jpg',
						title: 'Sheybarah',
						link: 'Details'
					},
					{
						img: 'i/other_1.jpg',
						title: 'Sheybarah',
						link: 'Details'
					},
					{
						img: 'i/other_1.jpg',
						title: 'Sheybarah',
						link: 'Details'
					}
				]
			},
			videoList: {
				title: 'Red sea groundbreakers',
				descr: 'Meet some of the fascinating people at the forefront of our development.',
				slides: [
					{
						img:'i/construct_2.jpg',
						text:'Groundbreaking<br> Design - Foster + Partners'
					},
					{
						img:'i/construct_2.jpg',
						text:'Groundbreaking<br> Design - Foster + Partners'
					},
					{
						img:'i/construct_2.jpg',
						text:'Groundbreaking<br> Design - Foster + Partners'
					},
					{
						img:'i/construct_2.jpg',
						text:'Groundbreaking<br> Design - Foster + Partners'
					},
					{
						img:'i/construct_2.jpg',
						text:'Groundbreaking<br> Design - Foster + Partners'
					},
					{
						img:'i/construct_2.jpg',
						text:'Groundbreaking<br> Design - Foster + Partners'
					},
					{
						img:'i/construct_2.jpg',
						text:'Groundbreaking<br> Design - Foster + Partners'
					},
					{
						img:'i/construct_2.jpg',
						text:'Groundbreaking<br> Design - Foster + Partners'
					},
					{
						img:'i/construct_2.jpg',
						text:'Groundbreaking<br> Design - Foster + Partners'
					},
					{
						img:'i/construct_2.jpg',
						text:'Groundbreaking<br> Design - Foster + Partners'
					},
					{
						img:'i/construct_2.jpg',
						text:'Groundbreaking<br> Design - Foster + Partners'
					}
				]
			}
		},

		sustainabilityPage: {
			hero: [
				{
					video_src: 'i/video_bg.mp4',
					img_alt: '',
					title: '<span class="section_title_in">Environmental</span>SUSTAINABILITY',
				},
				{
					img_src: 'i/hero_home_sliders/home_hero_slider_img_1.jpg',
					img_alt: '',
					title: '<span class="section_title_in">Explore the</span>constructions',
				},
				{
					img_src: 'i/designs_slides/designs_slider_img_1.jpg',
					img_alt: '',
					title: '<span class="section_title_in">Explore the</span>constructions',
				},
			],
			timeline: [
				{
					mod: 'previewTimeline sectionBgTrigger',
					data_id_color: '1',
					img: "i/preview_1.jpg",
					title: 'Title',
					subtitle: 'Subtitle',
					text: 'We have made huge progress on The Red Sea Project from design, build and contract awards perspectives. Major contracts were awarded in 2019 in our journey to meeting our targeted phase 1 completion date of 2022.',
					link: 'View Timeline'
				},
				{
					mod: 'previewTimeline sectionBgTrigger',
					data_id_color: '2',
					img: "i/preview_1.jpg",
					title: 'Title',
					subtitle: 'Subtitle',
					text: 'We have made huge progress on The Red Sea Project from design, build and contract awards perspectives. Major contracts were awarded in 2019 in our journey to meeting our targeted phase 1 completion date of 2022.',
					link: 'View Timeline'
				},
				{
					mod: 'previewTimeline sectionBgTrigger',
					data_id_color: '1',
					img: "i/preview_1.jpg",
					title: 'Title',
					subtitle: 'Subtitle',
					text: 'We have made huge progress on The Red Sea Project from design, build and contract awards perspectives. Major contracts were awarded in 2019 in our journey to meeting our targeted phase 1 completion date of 2022.',
					link: 'View Timeline'
				}
			]
		}
	}